<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatroom</title>
    <script src="/static/socket.io.js"></script>
    <script>
        var socket = io();
        //Msg
        socket.on("msg", function (data) {
            console.log("Info:",data)
        });
        socket.on("error", function (data) {
            console.log("Error:",data)
        });
        //Set Account
        socket.on("set_account", function (data) {
            console.log("set_account:",data)
        });
    </script>
</head>
<body>
    <div>什麼都沒有做，只有連線。</div>
</body>
</html>